<form action="/restaurants" method="POST">
  <h1 class="restaurant-show-title">新增餐廳</h1>
  <div class="container mb-md-5">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8 mx-auto">

        <div class="mb-2 d-flex">
          <div class="text-secondary text-center">
            餐廳名稱：
          </div>
          <div class="flex-grow-1">
            <input class="w-100" type="text" placeholder="name" name="name">
          </div>
        </div>

        <div class="mb-2 d-flex">
          <div class="text-secondary text-center">
            餐廳類別：
          </div>
          <div class="flex-grow-1">
            <input class="w-100" type="text" placeholder="category" name="category">
          </div>
        </div>

        <div class="mb-2 d-flex">
          <div class="text-secondary text-center">
            餐廳地址：
          </div>
          <div class="flex-grow-1">
            <input class="w-100" type="text" placeholder="location" name="location">
          </div>
        </div>

        <div class="mb-2 d-flex">
          <div class="text-secondary text-center">
            地址連結：
          </div>
          <div class="flex-grow-1">
            <input class="w-100" type="text" placeholder="google_map" name="google_map">
          </div>
        </div>

        <div class="mb-2 d-flex">
          <div class="text-secondary text-center">
            餐廳電話：
          </div>
          <div class="flex-grow-1">
            <input class="w-100" type="text" placeholder="phone" name="phone">
          </div>
        </div>

        <div class="mb-2 d-flex">
          <div class="text-secondary text-center">
            餐廳描述：
          </div>
          <div class="flex-grow-1">
            <textarea class="w-100" placeholder="description" name="description"></textarea>
          </div>
        </div>

        <div class="mb-5 d-flex">
          <div class="text-secondary text-center">
            餐廳照片：
          </div>
          <div class="flex-grow-1">
            <input class="w-100" type="text" placeholder="imageUrl" name="image">
          </div>
        </div>
        <div class="mt-5 button-wrapper row justify-content-center">
          <button type="submit" class="col-12 btn btn-primary">Add</button>
          <a href="/" class="my-3 text-secondary">返回首頁</a>
        </div>
      </div>
    </div>
  </div>
</form>