<form action="/restaurants" method="POST">
  <h1 class="restaurant-show-title">新增餐廳</h1>
  <div class="container mb-md-5">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8 mx-auto">

        <div class="form-group">
          <label for="FormControlInput1">餐廳名稱</label>
          <input class="form-control" id="FormControlInput1" type="text" placeholder="請輸入餐廳名稱" name="name" required="required">
        </div>

        <div class="form-group">
          <label for="FormControlInput2">餐廳類別</label>
          <select class="form-control" name="category" id="FormControlInput2" required>
            <option value="" selected>請選擇</option>
            {{#each allCategories}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label for="FormControlInput3">餐廳地址</label>
          <input class="form-control" id="FormControlInput3" type="text" placeholder="請輸入餐廳地址" name="location" required="required">
        </div>

        <div class="form-group">
          <label for="FormControlInput4">地址連結</label>
          <input class="form-control" id="FormControlInput4" type="url" placeholder="請輸入餐廳地址連結" name="google_map" required="required">
        </div>

        <div class="form-group">
          <label for="FormControlInput5">餐廳電話</label>
          <input class="form-control" id="FormControlInput5" type="text" placeholder="請輸入餐廳電話" name="phone" required="required">
        </div>

        <div class="form-group">
          <label for="FormControlInput6">餐廳描述</label>
          <textarea class="form-control" id="FormControlInput6" type="text" placeholder="請描述餐廳" name="description" required></textarea>
        </div>

        <div class="form-group">
          <label for="FormControlInput7">餐廳照片</label>
          <input class="form-control" id="FormControlInput7" type="url" placeholder="請輸入餐廳照片連結" name="image" required="required">
        </div>

        <div class="mt-5 button-wrapper row justify-content-center">
          <button type="submit" class="col-12 btn btn-primary">新增</button>
          <a href="/" class="my-3 text-secondary">返回首頁</a>
        </div>

      </div>
    </div>
  </div>
</form>